<%= form_for [:admin, station], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |form|%>
  <%= render 'common/errors', resource: station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :railway_station_title %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: station.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
  </div>
<% end %>
