<%= form_for [:admin, @route] do |form|%>
  <%= render 'common/errors', resource: @route %>

  <div class="form-row">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :route_name %>
    </div>

    <div class="field">
      <%= form.label :railway_station_ids, "Список станций" %>
      <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('common.edit'), class: 'btn btn-primary' %>
  </div>
<% end %>
