<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут поезду не назначен
  <% end %>
</p>

<p>
  <strong>Количество вагонов всего:</strong>
  <% if @train.carriages.any? %>
    <%= @train.carriages.count %>
    <p>Сидячих = <%= @train.carriages.sedentary.count %></p>
    <ul><strong>Количество мест:</strong>
      <li>Сидячих = <%= @train.count_seats('SedentaryCarriage', 'sitting_seats') %></li></ul>

    <p>Плацкартных = <%= @train.carriages.economy.count %></p>
    <ul><strong>Количество мест:</strong>
      <li>Нижних = <%= @train.count_seats('EconomyCarriage', 'lower_seats') %>
      <li>Верхних = <%= @train.count_seats('EconomyCarriage', 'upper_seats') %>
      <li>Нижних боковых = <%= @train.count_seats('EconomyCarriage', 'side_lower_seats') %>
      <li>Верхних боковых = <%= @train.count_seats('EconomyCarriage', 'side_upper_seats') %></li></ul>

    <p>Купейных = <%= @train.carriages.coupe.count %></p>
    <ul><strong>Количество мест:</strong>
      <li>Нижних = <%= @train.count_seats('CoupeCarriage', 'lower_seats') %>
      <li>Верхних = <%= @train.count_seats('CoupeCarriage', 'upper_seats') %></li></ul>
  
    <p>Св(Люкс) = <%= @train.carriages.luxuru.count %></p>
    <ul><strong>Количество мест:</strong>
      <li>Нижних = <%= @train.count_seats('LuxuruCarriage', 'lower_seats') %></li></ul>
  <% else %>
    Вагонов у поезда нет
  <% end %>
</p>

<p><strong>Вагоны:</strong></p>
<ul>
  <%= render partial: 'carriage', collection: @train.carriages_sort %>
</ul>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
