<tr>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.finish_station.title %></td>
  <td><%= ticket.passenger_name %></td>
  <td><%= ticket.passenger_lastname %></td>
  <td><%= ticket.passenger_patronymic %></td>
  <td><%= ticket.user.email %></td>

  <td><%= link_to 'Показать', ticket, class: 'btn btn-info' %></td>
  <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %></td>
</tr>

