<h1>Введите данные для покупки билета</h1>

<%= form_for(@ticket) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :passenger_name, 'Имя пассажира' %>
    <%= form.text_field :passenger_name %>
  </div>

  <div class="field">
    <%= form.label :passenger_lastname, 'Фамилия пассажира' %>
    <%= form.text_field :passenger_lastname %>
  </div>

  <div class="field">
    <%= form.label :passenger_patronymic, 'Отчество пассажира' %>
    <%= form.text_field :passenger_patronymic %>
  </div>

  <div class="field">
    <%= form.label :passport_series, 'Серия паспорта' %>
    <%= form.text_field :passport_series %>
  </div>

  <div class="field">
    <%= form.label :passport_number, 'Номер паспорта' %>
    <%= form.text_field :passport_number %>
  </div>

  <%= form.hidden_field :train_id, value: params[:train_id] %>
  <%= form.hidden_field :start_station_id, value: params[:start_station_id] %>
  <%= form.hidden_field :finish_station_id, value: params[:finish_station_id] %>

  <div class="actions">
    <%= form.submit "Купить" %>
  </div>

<% end %>
