<h1> Билет № <%= @ticket.id %></h1>

<p> Поезд №: <%= @ticket.train.number %>. С маршрутом <%= @ticket.train.route.name %></p>
<p> Отправляется из города: <%= "#{@ticket.start_station.title} - в #{@ticket.start_station.time(@ticket.train.route, :departure_time)}" %></p>
<p> Прибывает в город: <%= "#{@ticket.finish_station.title} - в  #{@ticket.finish_station.time(@ticket.train.route, :arrival_time)}" %></p>

<p> Имя: <%= @ticket.passenger_name %> </p>
<p> Фамилия: <%= @ticket.passenger_lastname %> </p>
<p> Отчество: <%= @ticket.passenger_patronymic %> </p>

<p> Серия паспорта: <%= @ticket.passport_series%> </p>
<p> Номер паспорта: <%= @ticket.passport_number%> </p>

<p> Email: <%= @ticket.user.email %></p>

<p><b><%= link_to 'Назад', tickets_path %></b></p>
