<%= form_for carriage.becomes(Carriage) do |form| %>
  <%= render 'common/errors', resource: @carriage %>
  
  <div class="field">
    <%= form.label :route, "Поезд" %>
    <%= form.collection_select :train_id, Train.all, :id, :number, prompt: "Выберите поезд"%>
  </div>

  <div class="field">
    <%= form.label :type, 'Тип вагона' %>
    <%= form.select :type, [['Плацкарт', 'EconomyCarriage'], ['Купе', 'CoupeCarriage'], ['Св', 'LuxuruCarriage'], ['Сидячий', 'SedentaryCarriage']] %>
  </div>

  <div class="field">
    <%= form.label :upper_seats, 'Количество верхних мест' %>
    <%= form.number_field :upper_seats %>
  </div>

  <div class="field">
    <%= form.label :lower_seats, 'Количество нижних мест' %>
    <%= form.number_field :lower_seats %>
  </div>

  <div class="field">
    <%= form.label :side_upper_seats, 'Количество верхних боковых мест' %>
    <%= form.number_field :side_upper_seats %>
  </div>

  <div class="field">
    <%= form.label :side_lower_seats, 'Количество нижних боковых мест' %>
    <%= form.number_field :side_lower_seats %>
  </div>

  <div class="field">
    <%= form.label :sitting_seats, 'Количество сидячих мест' %>
    <%= form.number_field :sitting_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
