<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p>

<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Присоединен к поезду:</strong>
  <%= @carriage.train.number %>
</p>

<%= render @carriage.type.underscore %>

<%= link_to 'Редактировать', edit_train_carriage_path(@train, @carriage) %>
<%= link_to 'Назад', @carriage.train %>
