<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.train') %></th>
      <th><%= t('.departure') %></th>
      <th><%= t('.arrival' )%></th>
      <th><%= t('.passenger_name') %></th>
      <th><%= t('.passenger_lastname') %></th>
      <th><%= t('.passenger_patronymic') %></th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<%= link_to t('common.create'), new_admin_ticket_path %>
<%= link_to t('common.back'), admin_panel_index_path %>

