<tr>
  <td><%= carriage.number %></td>
  <td><%= carriage.type %></td>
  <td><%= link_to 'Показать', carriage_path(carriage) %></td>
  <td><%= link_to 'Редактировать', edit_carriage_path(carriage) %></td>
  <td><%= link_to 'Удалить', carriage_path(carriage), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
