<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p>

<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Присоединен к поезду:</strong>
  <%= @carriage.train.number %>
</p>

<%= render @carriage.type.underscore %>

<%= link_to 'Редактировать', edit_admin_carriage_path(@carriage) %>
<%= link_to 'Назад', [:admin, @carriage.train] %>
