<p>
  <strong><%= t('.number') %></strong>
  <%= @train.number %>
</p>
<p>
  <strong><%= t('.route') %></strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут поезду не назначен
  <% end %>
</p>

<p>
  <strong><%= t('.sum_carriages') %></strong>
  <% if @train.carriages.any? %>
    <%= @train.carriages.count %>
    <p><%= t('.sum_carriages_sedentary') %> <%= @train.carriages.sedentary.count %></p>
    <ul><strong><%= t('.number_of_seats') %></strong>
      <li><%= t('.sitting_seats') %> <%= @train.count_seats('SedentaryCarriage', 'sitting_seats') %></li></ul>

    <p><%= t('.sum_carriages_economy') %><%= @train.carriages.economy.count %></p>
    <ul><strong><%= t('.number_of_seats') %></strong>
      <li><%= t('.lower_seats') %><%= @train.count_seats('EconomyCarriage', 'lower_seats') %>
      <li><%= t('.upper_seats') %> <%= @train.count_seats('EconomyCarriage', 'upper_seats') %>
      <li><%= t('.side_lower_seats') %> <%= @train.count_seats('EconomyCarriage', 'side_lower_seats') %>
      <li><%= t('.side_upper_seats') %> <%= @train.count_seats('EconomyCarriage', 'side_upper_seats') %></li></ul>

    <p><%= t('.sum_carriages_coupe') %> <%= @train.carriages.coupe.count %></p>
    <ul><strong><%= t('.number_of_seats') %></strong>
      <li><%= t('.lower_seats') %> <%= @train.count_seats('CoupeCarriage', 'lower_seats') %>
      <li><%= t('.upper_seats') %><%= @train.count_seats('CoupeCarriage', 'upper_seats') %></li></ul>

    <p><%= t('.sum_carriages_luxury') %><%= @train.carriages.luxury.count %></p>
    <ul><strong><%= t('.number_of_seats') %></strong>
      <li><%= t('.lower_seats') %><%= @train.count_seats('LuxuryCarriage', 'lower_seats') %></li></ul>
  <% else %>
    Вагонов у поезда нет
  <% end %>
</p>

<p>
  <strong><%= t('.carriages') %></strong></p>
  <ul>
  <%= render partial: 'carriage', collection: @train.sorted_carriages %>
  </ul>
</p>

<p>
  <%= link_to t('common.add'), new_admin_train_carriage_path(@train), class: 'btn btn-primary' %>
</p>


<%= link_to t('common.edit'), edit_admin_train_path(@train), class: 'btn btn-primary' %> |
<%= link_to t('common.back'), admin_trains_path, class: 'btn btn-secondary' %>
